#crosshair::before{
    color: white;  
    content: "+";
    display: none;  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

#pointerlock{
display: block;
position: absolute;
height: 100%;
opacity: 0;
width: 100%;
z-index: 2000;
}

#init-screen{
    align-items: end;
    bottom: 3rem;
    display: none;
    justify-content: space-around;
    position: absolute;
    transition: 2s;
    width: 100%;
    z-index: 1000;
}

.keys{
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.key{
    background-color: rgba(240, 255, 255, 0.37);
    border: 2px solid black;
    border-radius: 0.4rem;
    height: 2rem;
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacebar-key{
    background-color: rgba(240, 255, 255, 0.37);
    border: 2px solid black;
    border-radius: 0.4rem;
    height: 2rem;
    font-family: 'Courier New', Courier, monospace ;
    margin-top: 2rem;
    text-align: center;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esc-key{
    background-color: rgba(240, 255, 255, 0.37);
    border: 2px solid black;
    border-radius: 0.4rem;
    height: 2rem;
    font-family: 'Courier New', Courier, monospace ;
    margin-top: 2rem;
    text-align: center;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace ;
    margin-top: 0.4rem;
    text-align: center;
}

.up{
height: 2.5rem;
margin: 0 auto;
}

.down{
    display: flex;
    gap: 1rem;
    height: 2.5rem;
}
.click{
    text-align: center;
}

.click i{
    color: rgba(240, 255, 255, 0.37);
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px black;
    transform: scale(2.5);
}

/* TOUCH CONTROL */

.touch-controls{
    bottom: 0;
    height: 20rem;
    position: absolute;
    width: 100%;
    z-index: 1200;
}

#zone_joystick{
    z-index: 2000;
}

#jump{
    background-color: rgba(128, 255, 0, 0.466);
    border-radius: 100%;
    bottom: 50%;
    display: none;
    height: 6rem;
    right: 5%;
    position: absolute;
    width: 6rem;
}


/*////////////PROGRESS BAR///////////////*/
.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
    transition: 2s;
}

label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    transition: 2s;
}


#VRButton{
    background-color: chartreuse !important;
    z-index: 3000 !important;
}

@media only screen and (max-width: 1024px) {
    #init-screen {
      display: none;
    }
    #pointerlock{
        display: none;
      }
}



/* Portrait orientation */
@media screen and (orientation: portrait) {
    

    .nipple{
        top: 82% !important;
        left: 30% !important;
        transform: scale(3);
    }

    #jump{
        bottom: 25%;
        right: 10%;
        transform: scale(2);
    }
}

/* Landscape orientation */
@media screen and (orientation: landscape) {

    .nipple{
        top: 69% !important;
        left: 15% !important;
        transform: scale(1.2);
    }

    #jump{
        bottom: 35%;
        right: 10%;
        transform: scale(1.1);
    }
}
